<template>
  <div class="wrapper">
    <!-- Header component -->

    <Header />

    <!-- Header component -->

    <div class="container pos-relative">
      <div
        class="row d-flex justify-content-center align-items-center"
        style="margin-top: 6%;

              margin-bottom: 12%;"
      >
        <div class="col-12">
          <h5
            class="h5_header mb-5 text-black text-center fs-25 w-100 text-capitalize"
          >Please Select date and time of the Apointment</h5>
        </div>

        <div class="col-md-12 mt-1">
          <div id="calendar" class="bg-white fc shadow fc-ltr fc-unthemed form-control p-4 rounded"></div>
        </div>
      </div>

      <div class="cover-top"></div>
    </div>

    <!-- Footer Component -->

    <Footer />

    <!-- Footer Component -->

    <!-- Modal -->

    <div
      class="modal fade"
      id="event-add-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row justify-content-center">
              <h5
                class="h5_header mt-3 mb-3 text-capitalize text-black text-center fs-25 w-100 text-capitalize"
                style="  margin-bottom: 1.5rem !important;

                letter-spacing: 2.5px;

                color: #343a40;"
              >Booking details</h5>

              <div class="col-md-11 py-3">
                <form @submit.prevent="newBooking">
                  <div class="form-group pos-relative input-effect mb-4">
                    <select
                      name
                      class="effect-1 form-control py-2"
                      placeholder
                      id="Time"
                      style="height: 0%;"
                      v-model="bookingTime"
                    >
                      <option value selected disabled>Select Time</option>

                      <option
                        :value="interval"
                        v-for="(interval,index) in allIntervals"
                        :key="index"
                      >{{interval}}</option>
                    </select>
                  </div>

                  <div class="form-group pos-relative input-effect mb-4">
                    <input
                      v-model="bookingEmail"
                      type="email"
                      class="effect-1 py-2"
                      placeholder="Email"
                      id="email"
                    />

                    <!-- <label for="email">Email</label> -->

                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>

                  <div class="form-group pos-relative input-effect mb-4">
                    <input
                      type="text"
                      class="effect-1 py-2"
                      v-model="bookingName"
                      placeholder="Name"
                      id="name"
                    />

                    <!-- <label for="name">Name</label> -->

                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>

                  <div class="form-group pos-relative input-effect mb-4">
                    <input
                      type="text"
                      class="effect-1 py-2"
                      v-model="bookingPhone"
                      placeholder="Phone Number"
                      id="phone"
                    />

                    <!-- <label for="phone">Phone</label> -->

                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>

                  <div class="form-group pos-relative input-effect mb-4">
                    <select
                      name
                      class="effect-1 form-control py-2"
                      placeholder
                      id="country"
                      style="height: 0%;"
                      v-model="bookingCountry"
                    >
                      <option value selected disabled>Select Country</option>

                      <option
                        v-for="country in countries"
                        :value="country.name"
                        :key="country.code"
                      >{{ country.name }}</option>
                    </select>
                  </div>

                  <div class="form-group pos-relative input-effect mb-4">
                    <textarea
                      name
                      class="effect-1 py-2"
                      placeholder="Note"
                      id="NOTE"
                      style="

                      height: 80px;

                    "
                      v-model="bookingNote"
                    ></textarea>

                    <!-- <label for="NOTE">Note</label> -->

                    <span class="focus-border">
                      <i></i>
                    </span>
                  </div>

                  <div class="row justify-content-center d-flex align-items-center mt-4">
                    <button type="submit" class="btn btn-dark border-0 shadow py-3 px-5">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import countries from "@/utils/countries";
import Header from "@/components/templates/Header";
import Footer from "@/components/templates/Footer";
export default {
  name: "Calendar",
  components: {
    Header,
    Footer
  },

  async created() {
    await this.fetchWeekends();
    await this.fetchHolidays();
    await this.fetchBookings();
    await this.fetchIntervals();
    await this.fetchOfficeHours();
    this.getCalendar();
  },

  computed: {
    bookings: {
      get() {
        return this.$store.getters.bookings;
      }
    },
    weekends: {
      get() {
        return this.$store.getters.weekends;
      }
    },
    holidays: {
      get() {
        return this.$store.getters.holidays;
      }
    },
    intervals: {
      get() {
        return this.$store.getters.intervals;
      }
    },
    officeHours: {
      get() {
        return this.$store.getters.officeHours;
      }
    }
  },
  watch: {
    bookings: function(val) {
      val.map(v => {
        this.bookingArr.push({
          title: "ID: #" + v["id"] + "\n Time: " + v["booking_time"],
          start: v["booking_date"],
          className: "fc-bg-blue"
        });
      });
    },
    weekends: function(val) {
      const allDays = [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ];
      let dayIndices = [];
      val.map(v => {
        dayIndices.push(allDays.indexOf(v.days));
        this.bookingArr.push({
          daysOfWeek: dayIndices,
          rendering: "background",
          color: "#d6d6d6",
          overlap: false,
          allDay: true,
          holiday: true,
          weekend: true
        });
      });
    },
    holidays: function(val) {
      val.map(v => {
        this.bookingArr.push({
          start: v.dates,
          icon: "calendar",
          rendering: "background",
          color: "#660000",
          holiday: true,
          weekend: false
        });
      });
    },
    officeHours: function(val) {
      if (this.intervals.time_interval) {
        let start_min =
          parseInt(val.start_time.split(":")[0]) * 60 +
          parseInt(val.start_time.split(":")[1]);
        let end_min =
          parseInt(val.end_time.split(":")[0] * 60) +
          parseInt(val.end_time.split(":")[1]);
        let interval_times = [];
        while (start_min <= end_min) {
          var num = start_min;
          var hours = num / 60;
          var rhours = Math.floor(hours);
          var minutes = (hours - rhours) * 60;
          var rminutes = Math.round(minutes);
          interval_times.push(
            rhours +
              ":" +
              (rminutes < 10 ? rminutes.toString() + "0" : rminutes)
          );

          start_min = start_min + parseInt(this.intervals.time_interval);
        }
        this.allIntervals = interval_times;
      }
    }
  },
  data() {
    return {
      bookingDate: "",
      bookingTime: "",
      bookingEmail: "",
      bookingName: "",

      bookingPhone: "",

      bookingCountry: "",

      bookingNote: "",
      bookingArr: [],
      calendar: {},
      allIntervals: [],
      countries: countries.all
    };
  },
  methods: {
    ...mapActions([
      "fetchBookings",
      "fetchWeekends",
      "fetchHolidays",
      "fetchIntervals",
      "fetchOfficeHours"
    ]),

    click() {
      alert("hiii");

      document.getElementsByClassName(".fc-sat").style.backgroundColor =
        "yellow";
    },

    newBooking() {
      const formData = new FormData();
      formData.append("booking_time", this.bookingTime);
      formData.append("booking_date", this.bookingDate);
      formData.append("email", this.bookingEmail);
      formData.append("name", this.bookingName);
      formData.append("phone", this.bookingPhone);
      formData.append("country", this.bookingCountry);
      formData.append("notes", this.bookingNote);
      formData.append(
        "mode_of_booking",
        localStorage.getItem("mode_of_booking")
      );
      formData.append("dept_id", localStorage.getItem("dept_id"));
      //console.log(this.calendar.refetchEvents)
      this.$store
        .dispatch("addBooking", formData)
        .then(resp => {
          $("#event-add-modal").modal("hide");
          this.$swal("Booking Successfull", "", "success").then(() => {
            this.$router.push("/home");
          });
        })
        .catch(err => {
          console.log(err.response.data);
        });
    },
    getCalendar() {
      let holidays = this.holidays;
      let weekends = this.weekends;
      let that = this;
      var calendarEl = document.getElementById("calendar");
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ["dayGrid", "interaction"],

        dateClick: function(info) {
          that.bookingDate = info.dateStr;
          let trimWeekends = [];
          weekends.map(val => {
            trimWeekends.push(val.days.substring(0, 3));
          });
          let filteredHolidays = [];
          holidays.map(val => {
            filteredHolidays.push(val.dates);
          });
          if (
            !trimWeekends.includes(info.date.toString().substring(0, 3)) &&
            !filteredHolidays.includes(info.dateStr)
          ) {
            jQuery("#event-add-modal").modal();
          }
        },
        events: this.bookingArr,
        /*  events: [
          {
            title: "Shankhajeet's Appointment",
            start: "2019-09-13",
            className: "fc-bg-blue",
            holiday: false,
            weekend: false
          },

          {
            title: "Puja Holiday",
            start: "2019-09-20",
            icon: "calendar",
            rendering: "background",
            color: "black",
            holiday: true,
            weekend: false
          },

          {
            daysOfWeek: [0, 6], //Sundays and saturdays

            rendering: "background",

            color: "#d6d6d6",

            overLap: false,

            allDay: true,

            holiday: true,

            weekend: true
          }
        ], */

        eventRender: function(event, element) {
          if (event.icon) {
            element

              .find(".fc-title")

              .prepend("<i class='icon ion-ios-" + event.icon + "'></i>");
          }
        },

        eventClick: function(event, jsEvent, view) {
          console.log(event);

          jQuery(".event-icon").html(
            "<i class='icon ion-ios-" + event.icon + "'></i>"
          );
        }
      });
      calendar.render();
      this.calendar = calendar;
    }
  }
};
</script>

<style scoped>
</style>