<template>
  <div class="wrapper">
    <!-- Header component -->
    <Header />
    <!-- Header component -->

    <div class="container pos-relative">
      <div class="row mode_of_booking_wrapper">
        <h5 class="h5_header mb-5 text-black text-center fs-35 w-100">Choose the Mode of Booking</h5>
        <div class="col-12 clearfix d-flex justify-content-center align-items-center flex-wrap">
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking1"
              class="radio_btn"
              value="Facebook"
            />
            <label for="mode_of_booking1" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow active"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-logo-facebook fs-30 my-1 mx-2"></div>
                <span class>Facebook</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking2"
              class="radio_btn"
              value="Instagram"
            />
            <label for="mode_of_booking2" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-logo-instagram fs-30 my-1 mx-2"></div>
                <span class>Instagram</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking3"
              class="radio_btn"
              value="SMS"
            />
            <label for="mode_of_booking3" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-ios-chatbubbles fs-30 my-1 mx-2"></div>
                <span class>Sms</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking4"
              class="radio_btn"
              value="Call"
            />
            <label for="mode_of_booking4" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-ios-call fs-30 my-1 mx-2"></div>
                <span class>Call</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking5"
              class="radio_btn"
              value="Email"
            />
            <label for="mode_of_booking5" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-ios-mail fs-30 my-1 mx-2"></div>
                <span class>Email</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking6"
              class="radio_btn"
              value="Website"
            />
            <label for="mode_of_booking6" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-ios-globe fs-30 my-1 mx-2"></div>
                <span class>Website</span>
              </a>
            </label>
          </div>
          <div class="pos-relative">
            <input
              type="radio"
              v-model="booking.mode_of_booking"
              id="mode_of_booking7"
              class="radio_btn"
              value="Whatsapp"
            />
            <label for="mode_of_booking7" @click="reveal">
              <a
                class="booking_mode align-items-center border btn btn-white d-fex flex-column justify-content-center m-3 px-2 py-0 py-3 shadow"
                role="alert"
                style="width: 110px ; height: 110px"
              >
                <div class="icon ion-logo-whatsapp fs-30 my-1 mx-2"></div>
                <span class>Whatsapp</span>
              </a>
            </label>
          </div>
        </div>
      </div>
      <!-- Department Component -->
      <Department />
      <!-- Department Component -->
      <div class="cover-top"></div>
      <div class="cover-bottom"></div>
    </div>
    <!-- Footer Component -->
    <Footer />
    <!-- Footer Component -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Header from "@/components/templates/Header";
import Footer from "@/components/templates/Footer";
import Department from "@/components/employee/Department";
export default {
  name: "Home",
  components: {
    Header,
    Footer,
    Department
  },
  computed: {
    booking: {
      get() {
        return this.$store.getters.booking;
      }
    }
  },
  methods: {
    reveal() {
      $(".mode_of_booking_wrapper").addClass("up");
      $(".depertment").addClass("up");
      $("html, body").animate(
        {
          scrollTop: $(".depertment").offset().top - 80
        },
        900
      );
    }
  }
};
</script>

<style>
</style>