<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width,initial-scale=1.0" />

  <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

  <title>meliodus-crm</title>

  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />

  <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />

  <link rel="icon" type="image/png" href="<%= BASE_URL %>images/icons/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/bootstrap/css/bootstrap.min.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>fonts/font-awesome-4.7.0/css/font-awesome.min.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>fonts/Linearicons-Free-v1.0.0/icon-font.min.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/animate/animate.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/css-hamburgers/hamburgers.min.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/animsition/css/animsition.min.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/select2/select2.min.css" />

  <link href="<%= BASE_URL %>vendor/fullcalendar-4.3.1/packages/core/main.css" rel="stylesheet" />

  <link href="<%= BASE_URL %>vendor/fullcalendar-4.3.1/packages/daygrid/main.css" rel="stylesheet" />

  <!-- <link

      rel="stylesheet"

      href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.css"

    /> -->

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/util.css" />

  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>css/main.css" />

  <link href="https://unpkg.com/nprogress@0.2.0/nprogress.css" rel="stylesheet" />

  <script src="https://unpkg.com/nprogress@0.2.0/nprogress.js"></script>
  <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>vendor/pickerjs/picker.css" />
  

</head>

<body>

  <noscript>

    <strong>We're sorry but meliodus-crm doesn't work properly without JavaScript

      enabled. Please enable it to continue.</strong>

  </noscript>

  <div id="app"></div>

  <!-- built files will be auto injected -->

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/jquery/jquery-3.2.1.min.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/animsition/js/animsition.min.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/bootstrap/js/popper.js"></script>

  <script src="<%= BASE_URL %>vendor/bootstrap/js/bootstrap.min.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/select2/select2.min.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/daterangepicker/moment.min.js"></script>

  <script src="<%= BASE_URL %>vendor/daterangepicker/daterangepicker.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/countdowntime/countdowntime.js"></script>

  <!--===============================================================================================-->

  <script src="<%= BASE_URL %>vendor/fullcalendar-4.3.1/packages/core/main.js"></script>

  <script src="<%= BASE_URL %>vendor/fullcalendar-4.3.1/packages/daygrid/main.js"></script>

  <script src="<%= BASE_URL %>vendor/fullcalendar-4.3.1/packages/interaction/main.js"></script>
  <script src="<%= BASE_URL %>vendor/pickerjs/picker.js"></script>

  ​

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/datepicker.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script> -->

  ​

  <script src="<%= BASE_URL %>js/main.js"></script>

  ​

  <script></script>

</body>

</html>