<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="departmentAddModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <h5
              class="h5_header mt-3 mb-3 text-capitalize text-black text-center fs-25 w-100 text-capitalize"
              style="  margin-bottom: 1.5rem !important;
               letter-spacing: 2.5px;
               color: #343a40;"
            >New Department</h5>
            <div class="col-md-11 py-3">
              <form @submit.prevent="addDepartment">
                <div class="form-group pos-relative input-effect mb-4">
                  <input type="text" class="effect-1 py-2" placeholder="Name" id="name" v-model="name"/>
                  <span class="focus-border">
                    <i></i>
                  </span>
                </div>
                <div class="row justify-content-center d-flex align-items-center mt-4">
                  <button type="submit" class="btn btn-dark border-0 shadow py-3 px-4 fs-18">
                    <i class="ico ion-md-add mr-1"></i> Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "AddDepartment",
  data(){
    return{
      name:""
    }
  },
  methods:{
    ...mapActions(["fetchDepartments"]),
    addDepartment(){
      const formData = new FormData();
      formData.append("name", this.name);
       this.$store.dispatch("addDepartment", formData).then(resp=>{
         this.$swal("Department Created","","success").then(()=>{
           $('#departmentAddModal').modal('hide')
           this.fetchDepartments();
         })
       }).catch(err=>{
          this.$swal("Some Problem Occured","Please try again","error");
       })
    }
  }
};
</script>

<style>
</style>