<template>
  <!-- Modal -->
  <div
    class="modal fade"
    id="newUserModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row justify-content-center">
            <h5
              class="h5_header mt-3 mb-3 text-capitalize text-black text-center fs-25 w-100 text-capitalize"
              style="  margin-bottom: 1.5rem !important;
               letter-spacing: 2.5px;
               color: #343a40;"
            >New User</h5>
            <div class="col-md-11 py-3">
              <form @submit.prevent="addUser">
                <div class="form-group pos-relative input-effect mb-4">
                  <input type="email" class="effect-1 py-2" placeholder="Email" id="email" v-model="email" required />
                  <!-- <label for="email">Email</label> -->
                  <span class="focus-border">
                    <i></i>
                  </span>
                </div>
                <div class="form-group pos-relative input-effect mb-4">
                  <input required type="text" class="effect-1 py-2" placeholder="Name" id="name" v-model="name" />
                  <!-- <label for="name">Name</label> -->
                  <span class="focus-border">
                    <i></i>
                  </span>
                </div>

                <div class="form-group pos-relative input-effect mb-4">
                  <select
                    v-model="role"
                    class="effect-1 form-control py-2"
                    placeholder
                    id="country"
                    style="height: 0%;"
                    required
                  >
                    <option disabled selected>Choose Role</option>
                   <option value="admin">Admin</option>
                   <option value="employee">Employee</option>
                  </select>
                </div>
                <div class="row">
                  <div class="col-8">
                    <div class="form-group pos-relative input-effect mb-4">
                      <input type="text" required v-model="password" class="effect-1 py-2" placeholder="Password" id="name" />
                      <!-- <label for="name">Name</label> -->
                      <span class="focus-border">
                        <i></i>
                      </span>
                    </div>
                  </div>
                  <div class="col-4">
                    <button
                      @click="generatePassword"
                      type="button"
                      class="btn btn-dark border-0 shadow py-3 px-4 fs-14"
                    >Generate</button>
                  </div>
                </div>

                <div class="row justify-content-center d-flex align-items-center mt-4">
                  <button type="submit" class="btn btn-dark border-0 shadow py-3 px-4 fs-18">
                    <i class="ico ion-md-add mr-1"></i> Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "AddUser",
  data() {
    return {
      email: "",
      name: "",
      role:"",
      password: "",
    };
  },
  methods:{
     ...mapActions(["fetchUsers"]),
    addUser(){
     const formData = new FormData();
      formData.append("email", this.email);
      formData.append("name", this.name);
      formData.append("role", this.role);
      formData.append("password", this.password);
       this.$store.dispatch("addUser", formData).then(resp=>{
         this.$swal("User Created","","success").then(()=>{
           $('#newUserModal').modal('hide')
           this.fetchUsers();
         })
       }).catch(err=>{
          this.$swal("Some Problem Occured","Please try again","error");
       })
    },
    generatePassword(){
      let length = 10;
      let chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
      let pass = "";
      for (let x = 0; x < length; x++) {
          let i = Math.floor(Math.random() * chars.length);
          pass += chars.charAt(i);
      }
      this.password = pass;
      }
  }
};
</script>

<style>
</style>