<template>
  <div class="mycard shadow px-5 py-3 bg-white rounded my-5">
    <div class="row">
      <div class="col-md-6">
        <h5
          class="h5_header mt-3 mb-3 text-black fs-18 w-100"
          style="  margin-bottom: 1.5rem !important;
                  letter-spacing: 2.5px;
                  color: #343a40;"
        >Select Your holiday Date(s) :</h5>
      </div>
      <div class="col-md-6 d-flex flex-column">
        <div class="d-flex">
          <input type="date" class="effect-1 py-2" v-model="date" id="cal" @change="addHoliday()" />
        </div>
      </div>
      <div class="col-12 py-3 d-flex flex-row justify-content-start align-items-start flex-wrap">
        <div
          class="alert alert-dark px-2 py-1 my-badges mb-3 mx-2"
          v-for="holiday in holidays"
          :key="holiday.id"
          role="alert"
        >
          <span>{{holiday.dates}}</span>
          <span class="on_hover_red" @click="deleteHoliday(holiday.id, holiday.days)">
            <i class="icon ion-ios-trash fs-18 ml-1"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Holidays",
  data() {
    return {
      date: ""
    };
  },
  created() {
    this.fetchHolidays();
  },
  computed: {
    holidays: {
      get() {
        return this.$store.getters.holidays;
      }
    }
  },
  methods: {
    ...mapActions(["fetchHolidays"]),
    addHoliday() {
      const formData = new FormData();
      formData.append("dates", this.date);
      this.$store
        .dispatch("addHoliday", formData)
        .then(resp => {
          this.fetchHolidays();
        })
        .catch(err => {
          this.$swal("Some Problem Occured", "Please try again", "error");
        });
    },
    deleteHoliday(id, day) {
      this.$swal({
        title: "Are you sure want to delete this Holiday?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true
      }).then(result => {
        if (result.value) {
          const formData = new FormData();
          formData.append("id", id);
          this.$store
            .dispatch("deleteHoliday", formData)
            .then(resp =>
              this.$swal("Deleted", "Holiday Deleted", "success").then(() => {
                this.fetchHolidays();
              })
            )
            .catch(err =>
              this.$swal("Some Problem Occured", "Please try again", "error")
            );
        }
      });
    }
  }
};
</script>

<style>
</style>