<template>
  <div class="mycard shadow px-5 py-3 bg-white rounded my-5">
    <div class="row">
      <div class="col-md-6">
        <h5
          class="h5_header mt-3 mb-3 text-black fs-18 w-100"
          style="  margin-bottom: 1.5rem !important;
                  letter-spacing: 2.5px;
                  color: #343a40;"
        >Select Your Interval Time(s) :</h5>
      </div>
      <div class="col-md-6 d-flex">
        <select class="effect-1 form-control py-2" @change="addInterval()" v-model="intervals.time_interval">
          <option value="null" selected disabled>Select the Time Interval(s)</option>
          <option value="15">15 min</option>
          <option value="30">30 min</option>
          <option value="45">45 min</option>
          <option value="60">1 hour</option>
        </select>
      </div>
      <div class="col-12 py-3 d-flex flex-row justify-content-start align-items-start flex-wrap">
        <div class="alert alert-dark px-2 py-1 my-badges my-0 mx-2 mb-3" role="alert" v-for="(interval, index) in allIntervals" :key="index">
          <span>{{interval}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "IntervalTime",
  data() {
    return {
      interval: "null",
      allIntervals: []
    };
  },
  async created() {
    await this.fetchIntervals();
    this.fetchOfficeHours();
  },
  computed: {
    intervals: {
      get() {
        return this.$store.getters.intervals;
      }
    },
    officeHours: {
      get() {
        return this.$store.getters.officeHours;
      }
    }
  },
  watch: {
    officeHours: function(val) {
      if (this.intervals.time_interval) {
        let start_min =
          parseInt(val.start_time.split(":")[0]) * 60 +
          parseInt(val.start_time.split(":")[1]);
        let end_min =
          parseInt(val.end_time.split(":")[0] * 60) +
          parseInt(val.end_time.split(":")[1]);
        let interval_times = [];
        while (start_min <= end_min) {
        var num = start_min;
        var hours = (num / 60);
        var rhours = Math.floor(hours);
        var minutes = (hours - rhours) * 60;
        var rminutes = Math.round(minutes);
        interval_times.push( rhours + ":" +  (rminutes < 10 ? (rminutes.toString() + '0') : rminutes ));

          start_min = start_min + parseInt(this.intervals.time_interval);
        }
       this.allIntervals = interval_times;
      }
    }
  },
  methods: {
    ...mapActions(["fetchIntervals", "fetchOfficeHours"]),
    addInterval() {
      const formData = new FormData();
      formData.append("time_interval", this.intervals.time_interval);
      this.$store
        .dispatch("addInterval", formData)
        .then(resp => {
          this.fetchIntervals();
          this.fetchOfficeHours();
        })
        .catch(err => {
          this.$swal("Some Problem Occured", "Please try again", "error");
        });
    }
  }
};
</script>

<style>
</style>