<template>
  <div class="mycard shadow px-5 py-3 bg-white rounded my-5">
    <div class="row">
      <div class="col-md-6">
        <h5
          class="h5_header mt-3 mb-3 text-black fs-18 w-100"
          style="  margin-bottom: 1.5rem !important;
                  letter-spacing: 2.5px;
                  color: #343a40;"
        >Select Your Office Hour(s) :</h5>
      </div>
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <form
          @submit.prevent="addOfficeHours()"
          class="col-md-6 d-flex justify-content-center align-items-center"
        >
          <input
            type="text"
            class="form-control"
            placeholder="From"
            id="officeFrom"
            ref="officeFrom"
            :value="officeHours.start_time"
          />
          <span class="mx-2">To</span>
          <input type="text" class="form-control" placeholder="To" 
            id="officeTo" :value="officeHours.end_time"
             
           />
          <button class="btn btn-dark ml-3">Add</button>
        </form>
      </div>
      <div class="col-12 py-3 d-flex flex-row justify-content-start align-items-center flex-wrap">
        <div class="alert alert-dark px-2 py-1 my-badges my-0 mx-2 mb-3" role="alert">
          <span>{{officeHours.start_time}}</span>
          
        </div>
        <div
          class="alert alert-dark px-2 py-1 my-badges my-0 mx-0 mb-3 border-0 bg-white"
          role="alert"
        >
          <span>-</span>
        </div>
        <div class="alert alert-dark px-2 py-1 my-badges my-0 mx-2 mb-3" role="alert">
          <span>{{officeHours.end_time}}</span>
          
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  name: "OfficeHours",
  data() {
    return {
      officeFrom: "",
      officeTo: ""
    };
  },
  created() {
    this.fetchOfficeHours();
  },
  computed: {
    officeHours: {
      get() {
        return this.$store.getters.officeHours;
      }
    }
  },
  watch:{
    officeHours:function(val){
      this.officeFrom = val.start_time;
      this.officeTo = val.end_time;
    }
  },
  mounted() {
    let that = this;
    new Picker(document.querySelector("#officeFrom"), {
      format: "HH:mm",
      headers: true,
      text: {
        title: "Pick a time"
      }
    });
     new Picker(document.querySelector("#officeTo"), {
      format: "HH:mm",
      headers: true,
      text: {
        title: "Pick a time"
      }
    });

    $(".picker-confirm").click(function() {
      let times = $(".picker-list .picker-picked").text();
      that.officeFrom = times.substr(0,4).substr(0,2).toString() + ":" + times.substr(0,4).substr(2,4).toString();
      that.officeTo =times.substr(4,8).substr(0,2).toString() + ":" + times.substr(4,8).substr(2,4).toString();
    });
  },
  methods: {
     ...mapActions(["fetchOfficeHours"]),
    addOfficeHours() {
       const formData = new FormData();
        formData.append("start_time", this.officeFrom);
        formData.append("end_time", this.officeTo);
        this.$store
          .dispatch("addOfficeHours", formData)
          .then(resp => {
            this.fetchOfficeHours();
          })
          .catch(err => {
            this.$swal("Some Problem Occured", "Please try again", "error");
          });
    }
  }
};
</script>

<style>
</style>