<template>
  <div class="sidenav" id="sidenav" style="width: 230px;">
    <a>
      <div
        class="menu_button d-flex flex-column judtify-content-center align-items-center cross"
        style="z-index:9999; border: .5px solid transparent; width: 40px ; height: 40px ; padding: .3rem; position: fixed; top: 20px; left: 20px; "
        @click="openSideNavbar()"
      >
        <div class="bar">&nbsp;</div>
        <div class="bar">&nbsp;</div>
        <div class="bar">&nbsp;</div>
      </div>
    </a>
    <div class="links">
      <div class="side-nav-items active">
        <a href="/dashboard">Users</a>
      </div>
      <div class="side-nav-items" id="Menus">
        <a href="/departments">Departments</a>
      </div>
      <div class="side-nav-items" id="JobSync">
        <a href="/date-time">Date & Time</a>
      </div>
      <div class="side-nav-items" id="history">
        <a href="/bookings">Bookings</a>
      </div>
      <div class="side-nav-items" @click="logout">
        <a>Log Out</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "SideNavbar",
  methods:{
      openSideNavbar() {
        $(".menu_button").toggleClass("cross");
        if (document.getElementById("sidenav").style.width == "230px") {
          document.getElementById("sidenav").style.width = "0%";
          document.getElementById("main-board").style.marginLeft = "0px";
        } else {
          document.getElementById("sidenav").style.width = "230px";
          document.getElementById("main-board").style.marginLeft = "230px";
        }
      },
      async logout() {
      this.$store
        .dispatch("logout")
        .then(() => this.$router.push("/"))
    }
  }
};
</script>

<style>
</style>