<template>
  <div class="mycard shadow px-5 py-3 bg-white rounded">
    <div class="row">
      <div class="col-md-6">
        <h5
          class="h5_header mt-3 mb-3 text-black fs-18 w-100"
          style="  margin-bottom: 1.5rem !important;
                  letter-spacing: 2.5px;
                  color: #343a40;"
        >Please Select The Weekend(s)</h5>
      </div>
      <div class="col-md-6 d-flex">
        <select class="effect-1 form-control py-2" @change="addWeekend()" v-model="selectedDay">
          <option disabled value="null">Select the Weekend(s)</option>
          <option :value="day" v-for="(day,index) in allDays" :key="index">{{day}}</option>
        </select>
      </div>
      <div class="col-12 py-3 d-flex flex-row justify-content-start align-items-start flex-wrap">
        <div
          class="alert alert-dark px-2 py-1 my-badges my-0 mx-2 mb-3"
          role="alert"
          v-for="weekend in weekends"
          :key="weekend.id"
        >
          <span>{{weekend.days}}</span>
          <span class="on_hover_red" @click="deleteWeekend(weekend.id, weekend.days)">
            <i class="icon ion-ios-trash fs-18 ml-1"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Weekend",
  data() {
    return {
      allDays: [
        "Sunday",
        "Saturday",
        "Friday",
        "Thursday",
        "Wednesday",
        "Tuesday",
        "Monday"
      ],
      selectedDay: "null"
    };
  },
  created() {
    this.fetchWeekends();
	},
	 watch: {
    weekends: function(val, oldVal) {
			val.map(day =>{
			 this.allDays = this.allDays.filter(item => item !== day.days)
			})
		},
	 },
  computed: {
    weekends: {
      get() {
        return this.$store.getters.weekends;
      }
    }
  },
  methods: {
    ...mapActions(["fetchWeekends"]),
    addWeekend() {
      const formData = new FormData();
      formData.append("days", this.selectedDay);
      this.$store
        .dispatch("addWeekend", formData)
        .then(resp => {
         this.fetchWeekends();
        })
        .catch(err => {
          this.$swal("Some Problem Occured", "Please try again", "error");
        });
		},
		deleteWeekend(id, day){
		this.$swal({
        title: "Are you sure want to delete this weekend?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true
      }).then(result => {
        if (result.value) {
          const formData = new FormData();
          formData.append("id", id);
          this.$store
            .dispatch("deleteWeekend", formData)
            .then(resp =>
              this.$swal("Deleted", "Weekend Deleted", "success").then(() => {
								this.fetchWeekends();
								this.allDays.push(day)
              })
            )
            .catch(err =>
              this.$swal("Some Problem Occured", "Please try again", "error")
            );
        }
      });
		}
  }
};
</script>

<style>
</style>