<template>
  <footer class="fixed-bottom">
    <div class="container ">
      <div class=" text-muted fs-14 text-center  py-3 border-top-1-light">
        Designed and Developed by
        <a href="https://meliodus.org/" class=""> Meliodus Workplace </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
name:"Footer"
}
</script>

<style>

</style>