<template>
  <header style="z-index: 999;
      position: relative;
      background: #fafafa;" class="px-4">
    <nav class="align-items-center d-flex flex-row justify-content-between">
      <div class="u-details align-items-center d-flex">
        <img
          src="https://meliodus.org/wp-content/uploads/2019/02/meliodus_logo_192.png"
          alt
          class="img my-3"
        />
        <div class="mx-3" v-if="profile.user_info">
          <div class="d-flex">
            <h3>
              <strong>{{profile.user_info.name}}</strong>
            </h3>
            <button class="btn btn-danger ml-3" @click="logout">
              <i class="icon ion-md-log-out"></i>
            </button>
          </div>
          <span>#{{profile.user_info.id}}</span>
        </div>
      </div>
      <a href="/history" class="btn btn-dark text-light shadow px-3 mx-3 my-1">History</a>
    </nav>
  </header>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "Header",
  created() {
    this.fetchProfile();
  },
  computed: {
    profile: {
      get() {
        return this.$store.getters.profile;
      }
    }
  },
  methods: {
    ...mapActions(["fetchProfile"]),
    async logout() {
      this.$store.dispatch("logout").then(() => this.$router.push("/"));
    }
  }
};
</script>

<style>
</style>