<template>
  <div
    style="background-color: #fafafa; background-image: url('./images/bgg.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
  >
    <div class="main d-flex flex-row justify-content-center align-items-center">
      <!-- SideNavbar component -->
      <SideNavbar />
      <!-- SideNavbar component -->
      <div class="board flex-fill w-100 h-100 p-5" id="main-board">
        <div class="header"></div>
        <div class="board-body">
          <div class="new_btn d-flex justify-content-center align-items-center">
            <button class="btn btn-dark filter_btn fs-14 my-3 ml-auto" @click="filter()">
              <i class="icon ion-ios-funnel mr-2 border-right"></i> Filter
            </button>
          </div>
          <div class="row">
            <div class="col-12 justify-content-center align-items-center d-flex">
              <table class="table shadow bg-white">
                <thead class="thead-dark bg-dark text-light">
                  <tr>
                    <th
                      scope="col"
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Appointment ID"
                      class
                    >
                      <div class="justify-content-start d-flex align-items">ID</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Mode Of Appointment"
                    >
                      <div class="justify-content-start d-flex align-items">MODE</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Department"
                    >
                      <div class="justify-content-start d-flex align-items">Dept.</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Applicant's Name"
                    >
                      <div class="justify-content-start d-flex align-items">Name</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Applicant's Email"
                    >
                      <div class="justify-content-start d-flex align-items">Email</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Applicant's Phone Number"
                    >
                      <div class="justify-content-start d-flex align-items">Phone</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Applicant's Country"
                    >
                      <div class="justify-content-start d-flex align-items">Country</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Date & Time of Appointment "
                    >
                      <div class="justify-content-start d-flex align-items">D.T.O.A</div>
                    </th>
                    <th
                      scope="col"
                      class
                      data-toggle="tooltip"
                      data-placement="top"
                      title="Appointment Status"
                    >
                      <div class="justify-content-start d-flex align-items">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr id="filter" class="d-none">
                    <th scope="row">
                      <div class="justify-content-center d-flex align-items" id="id">
                        <input
                          type="text"
                          class="form-control mytextbox"
                          placeholder="Filter by ID"
                          v-model="serchId"
                        />
                      </div>
                    </th>

                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <select
                          style="width: fit-content"
                          v-model="searchMode"
                          id
                          class="form-control py-0 myselect"
                        >
                          <option value selected disabled>Filter By Mode</option>
                          <option value="Facebook">Facebook</option>
                          <option value="Instagram">Instagram</option>
                          <option value="SMS">SMS</option>
                          <option value="Call">Call</option>
                          <option value="Email">Email</option>
                          <option value="Website">Website</option>
                          <option value="Whatsapp">Whatsapp</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <select
                          style="width: fit-content"
                          v-model="searchDept"
                          class="form-control py-0 myselect"
                        >
                          <option value selected disabled>Filter By Dept.</option>
                          <option v-for="dept in departments" :key="dept.id" :value="dept.id">{{dept.dept_name}}</option>
                          
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <input
                          type="text"
                          class="form-control mytextbox"
                          placeholder="Filter by Name"
                          v-model="searchName"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <input
                          type="text"
                          class="form-control mytextbox"
                          placeholder="Filter by Email"
                          v-model="searchEmail"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <input
                          type="text"
                          class="form-control mytextbox"
                          placeholder="Filter by Phone"
                          v-model="searchPhone"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <select
                          style="width: fit-content"
                          v-model="searchCountry"
                          class="form-control py-0 myselect"
                        >
                          <option value selected disabled>Filter By Country.</option>
                          <option
                            v-for="country in countries"
                            :value="country.name"
                            :key="country.code"
                          >{{ country.name }}</option>
                        </select>
                      </div>
                    </td>

                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <input
                          type="datetime"
                          class="form-control mytextbox"
                          placeholder="Filter by D.T.O.A"
                          v-model="searchDTOA"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <select
                          style="width: fit-content"
                          v-model="searchAction"
                          class="form-control py-0 myselect"
                        >
                          <option value selected disabled>Filter By Action.</option>
                          <option value="pending">PENDING</option>
                          <option value="completed">COMPLETE</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                  <tr :id="'uid-'+ booking.id" v-for="booking in bookingsArr" :key="booking.id">
                    <th scope="row">
                      <div class="justify-content-center d-flex align-items">{{booking.id}}</div>
                    </th>

                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.mode_of_booking}}</div>
                    </td>
                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.dept_name}}</div>
                    </td>
                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.name}}</div>
                    </td>
                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.email}}</div>
                    </td>
                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.phone}}</div>
                    </td>
                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.country}}</div>
                    </td>

                    <td>
                      <div
                        class="justify-content-center d-flex align-items flex-column"
                        id="name1"
                      >{{booking.booking_date}} {{booking.booking_time}}</div>
                    </td>
                    <td>
                      <div class="justify-content-center d-flex align-items flex-column" id="name1">
                        <select
                          style="width: fit-content"
                          id
                          :class="['form-control py-0 myselect-spcl', booking.action == 'pending' ? 'bg-yellow' : 'bg-green']"
                          v-model="booking.action"
                          @change="onChangeStatus(booking.id,$event)"
                        >
                          <option value="pending">
                            <strong>PENDING</strong>
                          </option>
                          <option value="completed">COMPLETE</option>
                        </select>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <button
          @click="loadNext()"
          :class="showLoadMore == true ? 'd-block' : 'd-none'"
        >load more...</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import countries from "@/utils/countries";
import SideNavbar from "@/components/admin/SideNavbar";
export default {
  name: "Bookings",
  data() {
    return {
      limit: 20,
      offset: 0,
      serchId: "",
      searchMode: "",
      searchName: "",
      searchEmail: "",
      searchPhone: "",
      searchCountry: "",
      searchDTOA: "",
      searchAction: "",
      searchDept:"",
      bookingsArr: [],
      countries: countries.all
    };
  },
  components: {
    SideNavbar
  },
  created() {
    let data = {
      limit: this.limit,
      offset: this.offset
    };
    this.fetchBookings(data);
    this.fetchDepartments();

  },
  computed: {
    ...mapGetters(["bookings", "showLoadMore","departments"])
    /*  filteredBooking() {
      try {
        return this.bookings.filter(booking => {
          return booking.id.includes(this.serchId);
        });
      } catch (err) {
        return [];
      }
    } */
  },
  watch: {
    bookings: function() {
      this.bookingsArr = this.bookings;
    },
    serchId: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.id.includes(val);
      });
    },
    searchMode: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.mode_of_booking.includes(val);
      });
    },
    searchName: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.name.includes(val);
      });
    },
    searchEmail: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.email.includes(val);
      });
    },
    searchPhone: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.phone.includes(val);
      });
    },
    searchDTOA: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return (booking.booking_date + " " +booking.booking_time).includes(val);
      });
    },
    searchAction: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.action.includes(val);
      });
    },
     searchCountry: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.country.includes(val);
      });
    },
    searchDept: function(val, oldVal) {
      this.bookingsArr = this.bookings.filter(booking => {
        return booking.dept_id.includes(val);
      });
    }
  },
  methods: {
    ...mapActions(["fetchBookings","fetchDepartments"]),
    filter() {
      $("#filter").toggleClass("d-none");
      $("html, body").animate(
        {
          scrollTop: $("#filter").offset().top - 80
        },
        2000
      );
    },
    onChangeStatus(id, event) {
      let status = event.target.value;
      const formData = new FormData();
      formData.append("id", id);
      formData.append("status", status);
      this.$store
        .dispatch("changeBookingStatus", formData)
        .then(resp => {})
        .catch(err =>
          this.$swal("Some Problem Occured", "Please try again", "error")
        );
    },
    loadNext() {
      this.offset = this.offset + this.limit;
      let data = {
        limit: this.limit,
        offset: this.offset
      };
      this.fetchBookings(data);
    },
  }
};
</script>

<style>
</style>