<template>
  <div
    style="background-color: #fafafa; background-image: url('./images/bgg.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
  >
    <div class="main d-flex flex-row justify-content-center align-items-center">
      <!-- SideNavbar component -->
      <SideNavbar />
      <!-- SideNavbar component -->

      <div class="board flex-fill w-100 h-100 p-5" id="main-board">
        <div class="header"></div>
        <div class="board-body">
          <div class="new_btn d-flex justify-content-center align-items-center">
            <a class="btn btn-info btn-block w-100" data-toggle="modal" data-target="#newUserModal">
              <i class="icon ion-md-add"></i> Add New Users
            </a>
          </div>
          <div class="row">
            <div class="col-12 justify-content-center align-items-center d-flex">
              <table class="table shadow bg-white">
                <thead class="thead-dark bg-dark rounded text-light">
                  <tr>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">#</div>
                    </th>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Name</div>
                    </th>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Email</div>
                    </th>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Role</div>
                    </th>
                    <th scope="col" class="d-none Pass">
                      <div class="justify-content-start d-flex align-items">Password</div>
                    </th>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :id="'uid-'+ user.id" v-for="user in users" :key="user.id">
                    <th scope="row">
                      <div class="justify-content-strat d-flex align-items">{{user.id}}</div>
                    </th>
                    <td>
                      <div class="justify-content-strat d-flex align-items flex-column" id="name1">
                        <input
                          class="form-control mb-2 d-none"
                          type="text"
                          placeholder="Please give a Name "
                          v-model="user.name"
                        />
                        <div class="output">{{user.name}}</div>
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-strat d-flex align-items flex-column" id="name1">
                        <input
                          class="form-control mb-2 d-none"
                          type="email"
                          placeholder="Please give a Email "
                          v-model="user.email"
                        />
                        <div class="output">{{user.email}}</div>
                      </div>
                    </td>
                    <td>
                      <div class="justify-content-strat d-flex align-items flex-column" id="roll1">
                        <select class="form-control mb-2 py-0 d-none" v-model="user.role">
                          <option value="employee">Employee</option>
                          <option value="admin">Admin</option>
                        </select>
                        <div class="output">{{user.role}}</div>
                      </div>
                    </td>
                    <td class="d-none Pass">
                      <div class="justify-content-strat d-flex align-items flex-column" id="name1">
                        <input
                          class="form-control mb-2 d-none"
                          type="text"
                          placeholder="Please give a Password "
                          v-model="password"
                        />
                        <div class="d-flex">
                          <div class="output d-none">Password</div>
                          <button class="btn btn-dark" @click="generatePassword()">Generate</button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div
                        class="btn-group mx-auto d-flex justify-content-strat align-items-strat edit-options"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button class="btn btn-success" @click="inputshow(user.id)">
                          <i class="icon ion-md-create"></i>
                        </button>
                        <button class="btn btn-danger" @click="deleteUser(user.id)">
                          <i class="icon ion-md-trash"></i>
                        </button>
                      </div>
                      <div
                        class="btn-group mx-auto d-flex justify-content-start align-items-start save-options"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button class="btn btn-success d-none" @click="updateUser(user.id)">
                          <i class="icon ion-md-checkmark"></i>
                        </button>
                        <button class="btn btn-danger d-none" @click="inputclose(user.id)">
                          <i class="icon ion-md-close"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- AddUser Component -->
    <AddUser />
    <!-- AddUser Component -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SideNavbar from "@/components/admin/SideNavbar";
import AddUser from "@/components/admin/AddUser";
export default {
  name: "Dashboard",
  components: {
    SideNavbar,
    AddUser
  },
  data() {
    return {
      password: ""
    };
  },
  created() {
    this.fetchUsers();
  },
  computed: {
    users: {
      get() {
        return this.$store.getters.users;
      }
    }
  },
  methods: {
    ...mapActions(["fetchUsers"]),
    inputshow(id) {
      $("#uid-" + id + " .form-control").removeClass("d-none");
      $("#uid-" + id + " .form-control").removeClass("d-none");
      $(".table .Pass").removeClass("d-none");
      $(".table .Pass .form-control").addClass("d-none");
      $("#uid-" + id + " .Pass .form-control").removeClass("d-none");
      $("#uid-" + id + " .Pass .output").removeClass("d-none");
      $("#uid-" + id + " .output").addClass("py-1");
      $("#uid-" + id + " .output").addClass("px-2");
      $("#uid-" + id + " .output").addClass("border-left-3");
      $(".edit-options .btn").addClass("d-none");
      $(".save-options .btn").removeClass("d-none");
    },
    inputclose(id) {
      $("#uid-" + id + " .form-control").addClass("d-none");
      $("#uid-" + id + " .form-control").addClass("d-none");
      $(".table .Pass").addClass("d-none");
      $("#uid-" + id + " .Pass .form-control").addClass("d-none");
      $("#uid-" + id + " .Pass .output").addClass("d-none");
      $(".save-options .btn").addClass("d-none");
      $(".table .Pass .form-control").removeClass("d-none");
      $("#uid-" + id + " .output").removeClass("py-1");
      $("#uid-" + id + " .output").removeClass("px-2");
      $("#uid-" + id + " .output").removeClass("border-left-3");
      $(".edit-options .btn").removeClass("d-none");
    },
    deleteUser(id) {
      this.$swal({
        title: "Are you sure want to delete this user?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true
      }).then(result => {
        if (result.value) {
          const formData = new FormData();
          formData.append("id", id);
          this.$store
            .dispatch("deleteUser", formData)
            .then(resp =>
              this.$swal("Deleted", "User Deleted", "success").then(() => {
                this.fetchUsers();
              })
            )
            .catch(err =>
              this.$swal("Some Problem Occured", "Please try again", "error")
            );
        }
      });
    },
    generatePassword(){
      let length = 10;
      let chars = "abcdefghijklmnopqrstuvwxyz!@#$%^&*()-+<>ABCDEFGHIJKLMNOP1234567890";
      let pass = "";
      for (let x = 0; x < length; x++) {
          let i = Math.floor(Math.random() * chars.length);
          pass += chars.charAt(i);
      }
      this.password = pass;
    },
    updateUser(id) {
      for (let i = 0; i < this.users.length; i++) {
        if (this.users[i]["id"] == id) {
          const formData = new FormData();
          formData.append("email", this.users[i]["email"]);
          formData.append("name", this.users[i]["name"]);
          formData.append("role", this.users[i]["role"]);
          formData.append("id", this.users[i]["id"]);
          if (this.password) formData.append("password", this.password);
          this.$store
            .dispatch("editUser", formData)
            .then(resp => {
              this.$swal("User Updated", "", "success").then(() => {
                this.inputclose(id);
                this.fetchUsers();
              });
            })
            .catch(err => {
              this.$swal("Some Problem Occured", "Please try again", "error");
            });
          break;
        }
      }
    }
  }
};
</script>

<style>
</style>