<template>
  <div
    style="background-color: #fafafa; background-image: url('./images/bgg.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
  >
    <div class="main d-flex flex-row justify-content-center align-items-center">
      <!-- SideNavbar component -->
      <SideNavbar />
      <!-- SideNavbar component -->
      <div class="board flex-fill w-100 h-100 p-5" id="main-board">
        <div class="header"></div>
        <div class="body-inner">
          <!-- Weekend component -->
          <Weekend />
          <!-- Weekend component -->
          
          <!-- Holiday component -->
          <Holidays />
          <!-- Holiday component -->

          <!-- Interval component -->
          <OfficeHours />
          <!-- Interval component -->

          <!-- Interval component -->
          <IntervalTime />
          <!-- Interval component -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SideNavbar from "@/components/admin/SideNavbar";
import Weekend from "@/components/admin/Weekend";
import Holidays from "@/components/admin/Holidays";
import IntervalTime from "@/components/admin/IntervalTime";
import OfficeHours from "@/components/admin/OfficeHours";
export default {
  name: "DateTime",
  components: {
    SideNavbar,
    Weekend,
    Holidays,
    IntervalTime,
    OfficeHours
  },
  methods: {
    filter() {
      $("#filter").toggleClass("d-none");
      $("html, body").animate(
        {
          scrollTop: $("#filter").offset().top - 80
        },
        2000
      );
    }
  }
};
</script>

<style>
</style>