<template>
  <div
    style="background-color: #fafafa; background-image: url('./images/bgg.png'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;"
  >
    <div class="main d-flex flex-row justify-content-center align-items-center">
      <!-- SideNavbar component -->
      <SideNavbar />
      <!-- SideNavbar component -->
      <div class="board flex-fill w-100 h-100 p-5" id="main-board">
        <div class="header"></div>
        <div class="board-body">
          <div class="new_btn d-flex justify-content-center align-items-center">
            <a
              class="btn btn-info btn-block w-100"
              data-toggle="modal"
              data-target="#departmentAddModal"
            >
              <i class="icon ion-md-add"></i> Add New Department
            </a>
          </div>
          <div class="row">
            <div class="col-12 justify-content-center align-items-center d-flex">
              <table class="table shadow bg-white">
                <thead class="thead-dark bg-dark rounded text-light">
                  <tr>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">#</div>
                    </th>
                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Name</div>
                    </th>

                    <th scope="col" class>
                      <div class="justify-content-start d-flex align-items">Action</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr :id="'dept-'+ dept.id" v-for="dept in departments" :key="dept.id">
                    <th scope="row">
                      <div class="justify-content-strat d-flex align-items">{{dept.id}}</div>
                    </th>
                    <td>
                      <div class="justify-content-strat d-flex align-items flex-column" id="name1">
                        <input
                          class="form-control mb-2 d-none"
                          type="text"
                          placeholder="Please give a Name "
                          v-model="dept.dept_name"
                        />
                        <div class="output">{{dept.dept_name}}</div>
                      </div>
                    </td>
                    <td>
                      <div
                        class="btn-group mx-auto d-flex justify-content-strat align-items-strat edit-options"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button class="btn btn-success" @click="inputshow(dept.id)">
                          <i class="icon ion-md-create"></i>
                        </button>
                        <button
                          class="btn btn-danger" @click="deleteDept(dept.id)"
                        >
                          <i class="icon ion-md-trash"></i>
                        </button>
                      </div>
                      <div
                        class="btn-group mx-auto d-flex justify-content-start align-items-start save-options"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button
                          class="btn btn-success d-none"
                          @click="updateDepartment(dept.id)"
                        >
                          <i class="icon ion-md-checkmark"></i>
                        </button>
                        <button
                          class="btn btn-danger d-none"
                          data-toggle="modal"
                          data-target="#exampleModal"
                          @click="inputclose(dept.id)"
                        >
                          <i class="icon ion-md-close"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- AddDepartment component -->
     <AddDepartment />
    <!-- AddDepartment component -->
  </div>

</template>

<script>
import { mapGetters, mapActions } from "vuex";
import SideNavbar from "@/components/admin/SideNavbar";
import AddDepartment from "@/components/admin/AddDepartment";
export default {
  name: "Departments",
  components: {
    SideNavbar,
    AddDepartment
  },
  created() {
    this.fetchDepartments();
  },
  computed: {
    departments: {
      get() {
        return this.$store.getters.departments;
      }
    }
  },
  methods:{
     ...mapActions(["fetchDepartments"]),
      inputshow(id) {
        $("#dept-"+id+" .form-control").removeClass("d-none");
        $("#dept-"+id+" .form-control").removeClass("d-none");
        $(".table .Pass").removeClass("d-none");
        $(".table .Pass .form-control").addClass("d-none");
        $("#dept-"+id+" .Pass .form-control").removeClass("d-none");
        $("#dept-"+id+" .Pass .output").removeClass("d-none");
        $("#dept-"+id+" .output").addClass("py-1");
        $("#dept-"+id+" .output").addClass("px-2");
        $("#dept-"+id+" .output").addClass("border-left-3");
        $(".edit-options .btn").addClass("d-none");
        $(".save-options .btn").removeClass("d-none");
      },
      inputclose(id) {
        $("#dept-"+id+" .form-control").addClass("d-none");
        $("#dept-"+id+" .form-control").addClass("d-none");
        $(".table .Pass").addClass("d-none");
        $("#dept-"+id+" .Pass .form-control").addClass("d-none");
        $("#dept-"+id+" .Pass .output").addClass("d-none");
        $(".save-options .btn").addClass("d-none");
        $(".table .Pass .form-control").removeClass("d-none");
        $("#dept-"+id+" .output").removeClass("py-1");
        $("#dept-"+id+" .output").removeClass("px-2");
        $("#dept-"+id+" .output").removeClass("border-left-3");
        $(".edit-options .btn").removeClass("d-none");
      },
      deleteDept(id) {
      this.$swal({
        title: "Are you sure want to delete this department?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true
      }).then(result => {
        if (result.value) {
          const formData = new FormData();
          formData.append("id", id);
          this.$store
            .dispatch("deleteDepartment", formData)
            .then(resp =>
              this.$swal("Deleted", "Department Deleted", "success").then(() => {
                this.fetchDepartments();
              })
            )
            .catch(err =>
              this.$swal("Some Problem Occured", "Please try again", "error")
            );
        }
      });
    },
    updateDepartment(id) {
      for (let i = 0; i < this.departments.length; i++) {
        if (this.departments[i]["id"] == id) {
          const formData = new FormData();
          formData.append("name", this.departments[i]["dept_name"]);
          formData.append("id", this.departments[i]["id"]);
          this.$store
            .dispatch("editDepartment", formData)
            .then(resp => {
              this.$swal("Department Updated", "", "success").then(() => {
                this.inputclose(id);
                this.fetchDepartments();
              });
            })
            .catch(err => {
              this.$swal("Some Problem Occured", "Please try again", "error");
            });
          break;
        }
      }
    }
  }
};
</script>

<style>
</style>