<template>
  <div class="row  justify-content-center align-items-center depertment">
          <div class="col-12">
            <h5 class="h5_header mb-5 text-black text-center fs-35 w-100">
              Choose the Department
            </h5>
          </div>
          <div class="col-md-8 ">
            <div
              class="align-items-center justify-content-center justify-content-end row"
            >
              <div class="pos-relative" v-for="(dept,index) in depts" :key="dept.id"> 
                <input
                  type="radio"
                  v-model="booking.dept_id"
                  :id="'department'+index"
                  class="radio_btn"
                  :value="dept.id"
                />
                <label :for="'department'+index">
                  <div class="btn btn-secondary py-3 px-5 mx-2 my-2">
                   {{dept.dept_name}}
                  </div>
                </label>
              </div>
              <!-- <div class="pos-relative">
                <input
                  type="radio"
                  name="mode_of_booking"
                  id="department2"
                  class="radio_btn"
                />
                <label for="department2">
                  <div class="btn btn-secondary py-3 px-5 mx-2 my-2">
                    Student Visa Application
                  </div>
                </label>
              </div> -->
            </div>
            <div
              class="row justify-content-center d-flex align-items-center my-4"
            >
              
                <button
                  type="button"
                  @click="saveData()"
                  class="btn btn-dark bg-brown border-0 shadow py-3 px-5 next"
                >
                  <span class="next-text"> Next </span>
                  <i class="icon ion-md-arrow-forward next-icon ml-2"></i>
                </button>
            </div>
          </div>
        </div>
</template>

<script>
import {mapActions} from 'vuex';
export default {
name:"Department",
  created() {
    this.fetchDepartments();
  },
  computed: {
    depts: {
      get() {
        return this.$store.getters.departments;
      }
    },
    booking: {
      get() {
        return this.$store.getters.booking;
      }
    }
  },
  methods: {
    ...mapActions(["fetchDepartments"]),
    saveData(){
      localStorage.setItem("mode_of_booking",this.booking.mode_of_booking);
      localStorage.setItem("dept_id",this.booking.dept_id);
      this.$router.push("/calendar")
    }
  }
}
</script>

<style>

</style>