<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import axios from "axios";
import NProgress from "nprogress";
export default Vue.extend({
  created(){
    //NProgress bar in between axios call
    axios.interceptors.request.use(function(config) {
    NProgress.start();
    return config;
    }, function(error) {
    NProgress.done();
    return Promise.reject(error);
    });

    axios.interceptors.response.use(function(response) {
      NProgress.done();
      return response;
    }, function(error) {

    NProgress.done();
      return Promise.reject(error);
    });
  }
})
</script>
<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
