<template>
  <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
          <form class="login100-form validate-form"  @submit.prevent="login">
            <span class="login100-form-title p-b-43">
              Login to continue
            </span>

            <div
              class="wrap-input100 validate-input"
              data-validate="Valid email is required: ex@abc.xyz"
            >
              <input class="input100" type="text" v-model="username" />
              <span class="focus-input100"></span>
              <span class="label-input100 text-danger" v-if="err.username">{{err.username}}</span>
              <span class="label-input100" v-else>Username</span>
               
            </div>

            <div
              class="wrap-input100 validate-input"
              data-validate="Password is required"
            >
              <input class="input100" type="password" v-model="password" />
              <span class="focus-input100"></span>
              <span class="label-input100 text-danger" v-if="err.password">{{err.password}}</span>
              <span class="label-input100" v-else>Password</span>
            </div>

            <div class="flex-sb-m w-full p-t-3 p-b-32">
              <div class="ml-2">
                <a href="#" class="txt1">
                  Forgot Password?
                </a>
              </div>
              <div class="ml-2">
                <span class="text-danger" v-if="err.length > 0">{{err}}</span>
              </div>
            </div>

            <div class="container-login100-form-btn">
              <button class="login100-form-btn">
                Login
              </button>
            </div>
          </form>
          <div
            class="login100-more"
            style="background-image: url('images/bg-01.jpg');"
          ></div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "Login",
  data(){
    return{
      username:'',
      password:'',
      err:{}
    }
  },
  methods:{
    login(){
      const formData = new FormData();
      formData.append("username", this.username);
      formData.append("password", this.password);
       this.$store.dispatch("login", formData).then(resp=>{
        let role = resp.data.role;
        if(role == 'employee')
          this.$router.push("/home")
        else if(role == 'admin')
          this.$router.push("/dashboard")

       }).catch(err=>{
           this.err = err.response.data.message
       })
    }
  }
};
</script>

<style>
</style>